---
---

$transition-time: 0.2s;
$topbar-height: 50px;
$navitem-height: 50px;
$sidenav-width: 200px;
$sidenav-leftpad: 20px;

:root {
	--imperium-back-dark: #2f3242;
	--imperium-back-light: #3d4257;
	--imperium-accent: #2381cb;
	--imperium-fore: white;
	--imperium-dark-grey: #555;
	--imperium-mid-grey: #777;
	--imperium-light-grey: #ddd;
	--imperium-green: #338822;
	--imperium-amber: #d6ae40;
	--imperium-red: #cc3322;
}

html, body {
	width: 100vw;
	height: 100%;
	margin: 0;
	background-color: var(--imperium-back-dark);
	color: var(--imperium-fore);
	font-family: Arial, sans-serif;
	overflow: auto;
}

.main_layout_grid {
	display: grid;
	grid-template-columns: $sidenav-width 1fr;
	grid-template-rows: $topbar-height 1fr;
	grid-template-areas: "topbar topbar" "sidebar main";
}


.topbar {
	grid-area: topbar;
	background-color: var(--imperium-back-dark);
	-webkit-box-shadow: 2px 2px 17px 2px rgba(0,0,0,0.6);
	box-shadow: 2px 2px 17px 2px rgba(0,0,0,0.6);
	z-index: 100;
	.logo_holder{
		float: left;
		height: 100%;
		padding-top: 10px;
		padding-left: $sidenav-leftpad;
		img {
			height: 30px;
		}
	}
	.sidenav_toggle {
		float: left;
		cursor: pointer;
		height: 100%;
		width: 50px;
		display: none;
		&:hover {
			.burger {
				background-color: var(--imperium-accent);
			}
		}
		.burger{
			background-color: white;
			transition: background-color $transition-time;
			width: 24px;
			height: 3px;
			margin-top: 6px;
			margin-left: 13px;
			&:first-child {
				margin-top: 14px
			}
		}
	}
}

.sidenav {
	grid-area: sidebar;
	position: relative;
	background-color: var(--imperium-back-light);
	-webkit-box-shadow: 2px 6px 17px 2px rgba(0,0,0,0.6);
	box-shadow: 2px 6px 17px 2px rgba(0,0,0,0.6);
	z-index: 100;
	ul {
		width: 100%;
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			height: $navitem-height;
			width: 100%;
			padding: 0;
			transition: background-color $transition-time;
			&#selected_nav {
				background-color: var(--imperium-accent);
			}
			&:hover{
				background-color: var(--imperium-mid-grey);
			}
			a {
				display: flex;
				align-items: center;
				width: 100%;
				height: 100%;
				text-decoration: none;
				span {
					padding-left: $sidenav-leftpad;
					color: white;
				}
			}
		}
	}
	.nav_slider{
		position: absolute;
		top:0;
		right: 0;
		width: 0px;
		height: $navitem-height;
		background-color: var(--imperium-accent);
		-webkit-box-shadow: 2px 4px 7px 1px rgba(35, 129, 203,0.6);
		box-shadow: 2px 4px 7px 1px rgba(35, 129, 203,0.6);
		&.visible{
			width: 3px;
		}
		&.transitions_active{
			transition: top $transition-time;
		}
	}
}

@media only screen and (max-width: 1300px) {
	.main_layout_grid {
		display: grid;
		position: relative;
		grid-template-columns: 1fr;
		grid-template-rows: $topbar-height 1fr;
		grid-template-areas: "topbar" "main";
	}
	.topbar .sidenav_toggle {
		display: block
	}
	.sidenav {
		grid-area: main;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		opacity: 0;
		transition: width $transition-time, opacity $transition-time;
		span {
			display: none;
		}
		&.show{
			span {
				display: block;
			}
			transition: width $transition-time, opacity $transition-time;
			opacity: 1;
			width: $sidenav-width;
		}
	}
}

.global_container {
	font-size:14px;
	grid-area: main;
	padding-top: 5px;
	width: 96%;
	padding-left: 2%;
	min-height: calc(100vh - #{$topbar-height});
}

.tableau_container {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.main_grid {
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 300px 1fr;
	grid-template-areas: "placement_area whatif_controls" "prop_ratings_area whatif_controls";
}

.placement_area {
	grid-area: placement_area; 
	display:grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: "riskbu_selector rating_grid"
}

.riskbu_selector{
	grid-area: riskbu_selector;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:stretch;
	padding: 10px;
}

.rating_grid {
	grid-area: rating_grid;
	margin: 10px;
	background-color: var(--imperium-back-light);
	border: 1px solid var(--imperium-accent);
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap:5px;
	padding: 10px;
	.rating_square {
		background-color: var(--imperium-back-dark);
		display: flex;
		justify-content: space-around;
		align-items: center;
		&.grid_green{
			border-bottom: 2px solid var(--imperium-green);
		}
		&.grid_amber{
			border-bottom: 2px solid var(--imperium-amber);
		}
		&.grid_red{
			border-bottom: 2px solid var(--imperium-red);
		}
		.rating_placement {
			padding: 5px;
			position: relative;

			border-radius: 3px;
			&:hover .tooltip {
				visibility: visible;
				opacity: 1;
				text-align: center;
			}
		}
	}
	.rating_title{
		display:flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}

.colour_key_square {
	display: inline-block;
	height: 1em;
	width: 1em;
	border-radius: 3px;
}

.whatif_square{
	background-color: var(--imperium-accent);
}
.current_square{
	background-color: var(--imperium-dark-grey);
}
.last_month_square{
	background-color: #8f8f8f;
}
.last_year_square{
	background-color: #2f596a;
}
.predicted_square{
	background-color: #16835f;
}

.whatif_controls {
	padding-top: 10px;
	grid-area: whatif_controls; 
	display: flex;
	flex-direction: column;

	form#whatif_factor_form {
		margin-bottom: 10px;
	}
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

// This has come fromhttps://www.w3schools.com/howto/howto_js_rangeslider.asp
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: var(--imperium-dark-grey); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: var(--imperium-accent); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: var(--imperium-accent); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider-group {
	width:100%;
	display: flex;
	flex-wrap: wrap;
	label {
		display: block;
		width: 70%;
		float: left;
	}
	.slider-value{
		display: block;
		width: 30%;
		float: right;
		text-align: right;
		font-size:0.75em;
		color: var(--imperium-light-grey);
		padding-top: 4px;
	}
}

.control_proportion_names{
 display: flex;
 flex-direction: row;
 border-bottom: 1px dotted white;
 border-top: 1px dotted white;
 .name_holder {
	 border-left: 1px dotted white;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 &:first-child{
		 border: none;
	 }
	 width: 25%;
	 padding: 0 3%;
	 text-align: center;
	 color: var(--imperium-accent);
 }
}

.prop_ratings_area {
	grid-area: prop_ratings_area; 
	display:grid;
	grid-template-columns: 2fr 4fr;
	.irf_proportions_wrapper, .scenario_labels{
		border-right: 1px dashed white;
		h4{
			margin: 10px 2%;
			color: var(--imperium-accent);
		 }
	}
	.control_proportions_wrapper{
		padding-right: 10px;
		h4{
			margin: 10px 1%;
			color: var(--imperium-accent);
		 }
	 }
	.irf_proportions, .control_proportions {
		.proportion_oblong{
			background-color: var(--imperium-back-light);
			display: block;
			float: left;
			height: 50px;
		}
	}
	.irf_proportions {
		.proportion_oblong{ 
			width:46%;
			margin: 1% 2%;
		}
	}
	.control_proportions {
		display:flex;
		flex-direction: row;
		.control_column{
			width: 25%;
			display: flex;
			flex-direction: column;
			border-left: 1px dotted white;
			&:first-child {
				border: none;
			}
			.proportion_oblong{
				width: 92%;
				margin: 2% 4%;
			}
		}
	}
	.proportion_oblong {
		border-radius: 4px;
		position: relative;
		&:hover .tooltip {
			visibility: visible;
			opacity: 1;
		}
	}
}

.tooltip {
	cursor: default;
	display: block;
	position: absolute;
	left: calc(100% + 5px);
	top: 5px;
	padding: 5px;
	background-color: var(--imperium-back-dark);
	border-radius: 3px;
	border: 1px solid var(--imperium-accent);
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transition: opacity $transition-time;
	filter: drop-shadow(rgba(230, 230, 230, 0.1) 0 2px 5px);
	span{
		white-space: nowrap;
	}
}

.proportion_label{
	display: flex;
	float: left;
	height: 100%;
	width: calc(80% - 3px);
	align-items: center;
	justify-content: center;
	span{
		cursor: default;
		text-align: center;
	}
}
.proportion_int, .proportion_frac{
	display: flex;
	float: right;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 20%;
	border-radius: 0 4px 4px 0;
	&.prop_green{
		background-color: var(--imperium-green);
	}
	&.prop_amber{
		background-color: var(--imperium-amber);
	}
	&.prop_red{
		background-color: var(--imperium-red);
	}
	&.prop_grey{
		background-color: var(--imperium-dark-grey);
	}
}

.proportion_frac {
	flex-direction: column;
	div {
		&:first-child{
			border-bottom: 1px solid white;
		}
	}
}

@media only screen and (max-width: 1080px) {
	.prop_ratings_area {
		.irf_proportions, .control_proportions {
			.proportion_oblong{
				height: 70px;
			}
		}
	}
	.proportion_label{
		width: 100%;
		height: 70%;
	}
	.proportion_int, .proportion_frac{
		width: 100%;
		height: 30%;
	}
	.proportion_frac {
		flex-direction: row;
		div {
			padding: 3px;
			text-align: center;	
			width: 50%;
			&:first-child{
				border-bottom: none;
				border-right: 1px solid white;
			}
		}
	}
	.proportion_frac, .proportion_int {
		border-radius: 0 0 4px 4px;
	}
}

.dropdown-group {
	width:100%;
	display: block;
	label {
		display: block;
		width: 100%
	}
	select {
		display: block;
		width: 100%;
		background-color: var(--imperium-light-grey);
		border: 1px solid white;
		&:hover{
			border:1px solid var(--imperium-accent);
		}
	}
}


.form-background {
	background-color: var(--imperium-back-light);
	border: 1px solid var(--imperium-accent);
	padding:5px;
}

.flex-middle{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	* {
		margin: 5px;
	}
}

.button_wrapper {
	padding: 5px 0;
	text-align: right;
}

button {
	cursor: pointer;
	background: var(--imperium-accent);
	padding: 5px 10px;
	border: 2px solid var(--imperium-accent);
	color: white;
	border-radius: 3px;
	transition: border $transition-time;
	&:hover{
		border: 2px solid white;
	}
	&:active{
		border: 2px solid var(--imperium-back-dark);
	}
}

form h4 {
	margin: 10px 0;
}
