<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Imperium Risk - {{page.title}}</title>
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<body>
		<div class="main_layout_grid">
			{% include topbar.html %}
			{% include sidenav.html %}
			{{ content }}
		</div>
	</body>
	{% if page.selected == 'analytics' %}
	<script src="app/analytics/data.js"></script>
	<script src="app/analytics/data_abstraction.js"></script>
	<script src="app/analytics/helpers.js"></script>
	<script src="app/analytics/get_factors.js"></script>
	<script src="app/analytics/graphics.js"></script>
	<script src="app/analytics/main.js"></script>
	{% endif %}
	{% if page.selected != 'analytics' %}
	{% endif %}
	<script src="app/menu.js"></script>
</html>
