<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Imperium Risk - {{page.title}}</title>
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<script src="https://online.tableau.com/javascripts/api/tableau-2.min.js"></script>
	<script type="text/javascript">
		function initViz() {
			var containerDiv = document.getElementById("tableauPlaceholder"),
				url = "{{ page.tableauURL }}",
				options = {
					hideTabs: true,
					onFirstInteractive: function () {
						console.log("Run this code when the viz has finished loading.");
					}
				};

			// Create a viz object and embed it in the container div.
			var viz = new tableau.Viz(containerDiv, url, options);
			// Refresh the datasource every 30 seconds
			setInterval(function () {viz.refreshDataAsync() }, 30000);
		}
	</script>
	<body onload="initViz();">
		<div class="main_layout_grid">
			{% include topbar.html %}
			{% include sidenav.html %}
			<div class="global_container">
				<div class="tableau_container">
					<div class="tableauPlaceholder" id="tableauPlaceholder" style='width: 1100px; height: 627px;'>
					</div>
				</div>
			</div>
			{{ content }}
		</div>
	</body>
	{% if page.selected == 'analytics' %}
	<script src="app/analytics/data.js"></script>
	<script src="app/analytics/data_abstraction.js"></script>
	<script src="app/analytics/helpers.js"></script>
	<script src="app/analytics/get_factors.js"></script>
	<script src="app/analytics/graphics.js"></script>
	<script src="app/analytics/main.js"></script>
	{% endif %}
	{% if page.selected != 'analytics' %}
	{% endif %}
	<script src="app/menu.js"></script>
</html>
