<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Imperium Risk - {{page.title}}</title>
		<link rel="stylesheet" href="style.css" type="text/css">
	</head>
	<script src="https://online.tableau.com/javascripts/api/tableau-2.min.js"></script>
	<script type="text/javascript">
		function initViz() {
			var containerDiv = document.getElementById("tableauPlaceholder"),
				url = "{{ page.tableauURL }}",
				options = {
					hideTabs: true,
					onFirstInteractive: function () {
						console.log("Run this code when the viz has finished loading.");
					}
				};

			// Create a viz object and embed it in the container div.
			var viz = new tableau.Viz(containerDiv, url, options);
			// Refresh the datasource every 30 seconds
			setInterval(function () {viz.refreshDataAsync() }, 30000);
		}
	</script>
	<body onload="initViz();">
		<div class="main_layout_grid">
			<div class="topbar">
				<div class="sidenav_toggle" id="sidenav_toggle">
					<div class="burger"></div>
					<div class="burger"></div>
					<div class="burger"></div>
				</div>
				<div class="logo_holder">
					<img src="assets/logo.png">
				</div>
			</div>
			<div class="sidenav" id="sidenav">
				<ul id="sidenav_ul">
					<li {% if page.selected=='profile' %}id="selected_nav"{% endif %}><a href="profile"><span>Profile</span></a></li>
					<li {% if page.selected=='events' %}id="selected_nav"{% endif %}><a href="events"><span>Events</span></li></a>
					<li {% if page.selected=='rca' %}id="selected_nav"{% endif %}><a href="rca"><span>RCA</span></li></a>
					<li {% if page.selected=='analytics' %}id="selected_nav"{% endif %}><a href="analytics"><span>Analytics</span></li></a>
					<li {% if page.selected=='scenarios' %}id="selected_nav"{% endif %}><a href="scenarios"><span>Scenarios</span></li></a>
					<li {% if page.selected=='metrics' %}id="selected_nav"{% endif %}><a href="metrics"><span>Metrics</span></li></a>
					<li {% if page.selected=='remediation' %}id="selected_nav"{% endif %}><a href="remediation"><span>Remediation</span></li></a>
					<li {% if page.selected=='issues_and_actions' %}id="selected_nav"{% endif %}><a href="issues_and_actions"><span>Issues &amp; Actions</span></li></a>
					<li {% if page.selected=='compliance' %}id="selected_nav"{% endif %}><a href="compliance"><span>Compliance</span></li></a>
					<li {% if page.selected=='control_analytics' %}id="selected_nav"{% endif %}><a href="control_analytics"><span>Control Analytics</span></li></a>
				</ul>
				<div class="nav_slider" id="nav_slider"></div>
			</div>
			<div class="global_container">
				<div class="tableau_container">
					<div class="tableauPlaceholder" id="tableauPlaceholder" style='width: 1100px; height: 627px;'>
					</div>
				</div>
			</div>
			{{ content }}
		</div>
	</body>
	{% if page.selected == 'analytics' %}
	<script src="app/analytics/data.js"></script>
	<script src="app/analytics/data_abstraction.js"></script>
	<script src="app/analytics/helpers.js"></script>
	<script src="app/analytics/get_factors.js"></script>
	<script src="app/analytics/graphics.js"></script>
	<script src="app/analytics/main.js"></script>
	{% endif %}
	{% if page.selected != 'analytics' %}
	{% endif %}
	<script src="app/menu.js"></script>
</html>
